html {
  background-color: #9ba4b5;
  background-image: -webkit-linear-gradient(65deg, #180931 50%, #eae9fd 50);
  min-height: 1000px;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  color: #f1f6f9;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 25px auto;
  background: #f1f6f9;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #212a3e;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f6f9;
  overflow-wrap: anywhere;
}

.item:last-child {
  border-bottom: 0;
}

.inner-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  margin-left: 0;
}

.fa-trash-can:hover {
  color: #e74c3c;
  cursor: pointer;
}

input:checked + form p {
  text-decoration: line-through;
  text-decoration-color: #212a3e;
}

input[type="checkbox"] {
  margin: 20px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

p {
  margin: 0;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 200;
  color: #394867;
}

form {
  text-align: center;
  margin-left: 20px;
}

.btn {
  position: relative;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #394867;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.btn i {
  position: absolute;
  top: 23%;
  right: 23%;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #394867;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: #394867;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212a3e;
  padding: 10px;
}

.invis-btn {
  border: none;
}
